body {
    background-color: var(--body-bg) !important;
    position: relative;
    overflow: hidden;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 1200px !important;
    display: flex !important;
}

.card-nav {
    background-color: var(--card-nav-bg);
    padding: 16px;
    padding-top: 48px;
    width: 200px !important;
    display: flex;
    align-items: flex-start !important;
    justify-content: center !important;
}

.card-main-body {
    display: flex !important;
    flex-direction: column;
}

.card-body {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    width: 950px !important;
}

.selectable:hover {
    cursor: pointer;
    background-color: var(--arrow-bg);
}

.choice {
    margin: 16px;
    background-color: var(--choices-char-bg);
    color: var(--choices-char-text);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.answer {
    margin-left: 48px;
    font-size: 24px;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding: 16px;
    width: 950px !important;
    margin-left: 14px;
    border-top: 2px solid var(--choices-char-bg);
    background-color: var(--choices-bg) !important;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--arrow-bg);
    width: 64px;
    height: 64px;
    font-size: 64px;
    font-weight: 400;
    border: 0;
    padding-bottom: 16px;
}

.left-arrow {
    padding-right: 10px;
}

.right-arrow {
    padding-left: 10px;
}

.correct-answer {
    background-color: var(--correct-answer-bg);

    & .choice {
        background-color: var(--correct-char-bg);
        color: var(--answer-char-text);
    }
}

.wrong-answer {
    background-color: var(--wrong-answer-bg);

    & .choice {
        background-color: var(--wrong-char-bg);
        color: var(--answer-char-text);
    }
}

#main-card-container {
    width: 1200px !important;
}

.col-md-8 {
    width: 1000px !important;
}

.question-card {
    width: 950px !important;
    margin: 0 !important;
}

#overlay-div {
    height: 679px !important;
    width: 1000px !important;
}

.d_none {
    display: none !important;
}

#end-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 679px !important;
    width: 1000px !important;

    & img {
        object-fit: contain;
        object-position: center;
    }
}

.end-screen-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 600px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--end-screen-gb);
}

.end-text {
    font-size: 26px;
    font-weight: 800;
    margin-top: 16px;
    text-align: center;
}

#score-paragraph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;

    & #score-text {
        color: var(--card-nav-bg);
    }
}

.game-btn {
    margin-top: 40px;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    border: 0;
    color: var(--answer-char-text);
    background-color: var(--replay-btn-bg);
    font-size: 18px;
    font-weight: 600;
}

.count-questions-container {
    font-size: 24px;
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 679px !important;
    width: 1000px !important;
    background-image: url("../assets/img/bg\ b.png");

    & h1 {
        text-align: center;
    }
}
